<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'post:index' %}">BlogPost</a>
            <li class="nav-item">
                <a class="nav-link">Hello, {{user.username|capfirst}}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'post:topics' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Topics
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if topics %}
                        <a class="dropdown-item" href="{% url 'post:topics' %}">Topics</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'post:new_topic' %}">New topic</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'post:profile' user.id%}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'post:profile' user.id%}">Profile settings</a>
                    <a class="dropdown-item" href="{% url 'post:security' %}">Password settings</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post:users' %}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user:logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="% url 'user:register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>